# Create a class Salary with the following getters and setters
1. Constructor
a. Create an Object with following parameters
i. Monthly income
ii. Currency
iii. Type (Cash or cheque)
#Create a new class called Employee which has-a `Salary`
a. Write a constructor that takes

In [166]:
class Salary:
    def __init__(self , monthly_income,currency,cash):
        self.monthly_income = monthly_income
        self.currency = currency
        self.cash = cash
        
    def set_monthly_income(self):
        return self.monthly_income 
    def set_currency(self):
        return self.currency
    def set_cash(self):
        return self.cash

    
    def get_monthly_income(self):
        return self.monthly_income
    def get_currency(self):
        return self.currency
    def get_cash(self):
        return self.cash
    def get_total(self):
        return self.monthly_income * 12
    
class Employee:
    def __init__(self , monthly_income, currency, cash , bonus , salary):
        self.bonus = bonus
        self.new_obj = Salary(monthly_income, currency, cash)
        self.salary = salary

#     def set_bonus(self):
#         return self.bonus
        
    def set_total_salary(self):
        self.salary = self.new_obj.get_total()+self.bonus
        
    
    def get_total_salary(self):
        kashaf = ["The annual salary for this employee is following :",self.new_obj.get_currency(), self.salary , self.new_obj.get_cash(), self.bonus]
        return kashaf

In [167]:
employee_ali = Employee(1000.0, "$", "cash" , 5000, 0)

In [168]:
employee_ali.set_total_salary()

In [169]:
employee_ali.get_total_salary()

['The annual salary for this employee is following :',
 '$',
 17000.0,
 'cash',
 5000]

In [192]:
class Salary:
    def __init__(self , monthly_income,currency,cash):
        self.monthly_income = monthly_income
        self.currency = currency
        self.cash = cash
        
    def set_monthly_income(self):
        return self.monthly_income 
    def set_currency(self):
        return self.currency
    def set_cash(self):
        return self.cash

    
    def get_monthly_income(self):
        return self.monthly_income
    def get_currency(self):
        return self.currency
    def get_cash(self):
        return self.cash
    def get_total(self):
        return self.monthly_income * 12
    
class Employee:
    def __init__(self , monthly_income, currency, cash , bonus , salary):
        self.bonus = bonus
        self.new_obj = Salary(monthly_income, currency, cash)
        self.salary = salary

#     def set_bonus(self):
#         return self.bonus
        
    def set_total_salary(self):
        self.salary = self.new_obj.get_total()+self.bonus
        
    
    def get_total_salary(self):
        kashaf = ["The annual salary for this employee is following :",self.new_obj.get_currency(), self.salary , self.new_obj.get_cash(), self.bonus]
        return kashaf

In [193]:
employee_ali = Employee(1000.0, "$", "cash" , 5000)

TypeError: __init__() missing 1 required positional argument: 'salary'

In [196]:
employee_ali.set_total_salary()

TypeError: unsupported operand type(s) for +: 'method' and 'int'

In [195]:
employee_ali.get_total_salary()

['The annual salary for this employee is following :', '$', 0, 'cash', 5000]